<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar frutas</title>
</head>
<body>
    <br>
    <br>
    <h1>Registro frutas</h1>
    <br>

    {% with mensajes = get_flashed_messages() %}
        {% if  mensajes %}
            {% for msj in mensajes %}
                <h3> {{ mesj }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <form action="/ingresar" method="post">
        <input type="text" name="txtFruta" placeholder="Fruta">
        <input type="text" name="txtTemporada" placeholder="Temporada">
        <input type="text" name="txtPrecio" placeholder="Precio">
        <input type="number" name="txtStock" placeholder="Stock">
        <button type="submit">Guardar</button>
    </form>
    <br>
    <br>
    <h1>Frutas guardadas</h1>
    <br>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Fruta</td>
                    <td>Temporada</td>
                    <td>Precio</td>
                    <td>Stock</td>
                </tr>
            </thead>
            <tbody>
                {% for fru in listaF %} 
                <tr>
                    <td> {{ fru.0 }} </td>
                    <td> {{ fru.1 }} </td>
                    <td> {{ fru.2 }} </td>
                    <td> {{ fru.3 }} </td>
                    <td> {{ fru.4 }} </td>
                    <td> 
                        <a href=/editar/{{fru.0}}> Editar </a> 
                        <a href=/confirmacion/{{fru.0}}> Borrar </a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <form action="/actualizar">
        <button type="submit">Actualizar</button>
        </form>
        <br>
        <br>
        <form action="/buscar" method="post">
            <input type="text" name="txtFruta" placeholder="Ingrese el nombre de la fruta">
            <button type="submit">Buscar</button>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Fruta</td>
                        <td>Temporada</td>
                        <td>Precio</td>
                        <td>Stock</td>
                    </tr>
                </thead>
                <tbody>
                    {% for fru in listaF %} 
                    <tr>
                        <td> {{ fru.0 }} </td>
                        <td> {{ fru.1 }} </td>
                        <td> {{ fru.2 }} </td>
                        <td> {{ fru.3 }} </td>
                        <td> {{ fru.4 }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </body>
    </html>