<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
</head>
<body>
    <br><br>
    <form action="/buscarxnombre">
        <input type="text" name="txtFrutas" placeholder="Ingrese el nombre de la fruta" required>
        <button type="submit">Buscar</button>
    </form>
    <br><br>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Fruta</td>
                <td>Temporada</td>
                <td>Precio</td>
                <td>Stock</td>
            </tr>
        </thead>
        <tbody>
            {% if listaF %} 
            <tr>
                <td> {{ listaF.0 }} </td>
                <td> {{ listaF.1 }} </td>
                <td> {{ listaF.2 }} </td>
                <td> {{ listaF.3 }} </td>
                <td> {{ listaF.4 }} </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>