<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar frutas</title>
</head>
<body>
    <br>
    <br>
    <h1>Registro frutas</h1>
    <br>

    {% with mensajes = get_flashed_messages() %}
        {% if  mensajes %}
            {% for msj in mensajes %}
                <h3> {{ mesj }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br>
    <form action="/ingresar" method="post">
        <input type="text" name="txtFruta" placeholder="Fruta">
        <input type="text" name="txtTemporada" placeholder="Temporada">
        <input type="text" name="txtPrecio" placeholder="Precio">
        <input type="number" name="txtStock" placeholder="Stock">
        <button type="submit">Guardar</button>
    </form>
    <br>
    <br>
    <a href=/editar><button>Editar frutas</button></a>
    <br>
    <br>
    <a href=/consulta><button>Consulta x nombre</button></a>
    </body>
    </html>