form{
    width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
select{
    height: 40px;
}
.fechanacimiento{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.fechanacimiento label{
    margin-right: 10px;
}
input[type="submit"]{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: ponter;
}
input[type="submit"]:hover{
    background-color: #45a049;
}